<html>
<head>
    <link rel="stylesheet" href="static/index.css" />
</head>

<body>
<div id="wrapper">
        <div class="video_container">
            <iframe width="560" height="315" src="//www.youtube.com/embed/W7tzMGa3fFo?showinfo=0&rel=0&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
        </div>
</div>

<script>

    function onYouTubePlayerAPIReady(){
        console.log("PUT THAT SHIT ON YOUTUBE")
    }

</script>

<script src="//www.youtube.com/player_api"></script >

</body>
</html>